
@use "variables";

//Components


/* 1 Catalogue*/

.container-catalogue{
  margin-top: 4rem;
}

/* 1.1 Title catalogue*/

.catalogue__text{
 display: inline;
 }

 .catalogue__line{
 width: 100%;
 height: 2px;
} 

.catalogue__title {
  position: relative;
  margin-left: 0.8rem;
  margin-right: 1.25rem;
}

/* 1.2 Card Catalouge */

.catalogue__card{
  width: 100%;
  height: 40vw;
}
.catalogue__card-img{
  width: 100%;
  height: auto;
}
.catalogue__card-text{
 height: 1.5rem; 
}
.catalogue__card-text span, .catalogue__card-img{
  cursor: pointer;
}

.catalogue__grid{
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: variables.$grid-column-mobile;
  grid-template-rows: variables.$grid-row-mobile;
}

@media screen and(min-width:768px){
  .container-catalogue{
    margin-top: 5rem;
  }
  .catalogue__card{
    height: 25vw;  
  }
  .catalogue__card-text{
    height: 2rem; 
  }
  .catalogue__grid{
    gap: 30px;
    grid-template-columns: variables.$grid-column-tablet;
    grid-template-rows: variables.$grid-row-tablet;
  }
}
@media screen and(min-width:1200px){
  .catalogue__title {
    position: relative;
    margin-left: 5rem;
    margin-right: 4rem;
  }
  .catalogue__grid{
    column-gap: 30px;
    row-gap: 0px;
  }
 
}


// Card product 

.card{
  height: auto;  
  width: 100%;
}

.card_home{
  width: 70%;
  margin: auto;
}
.card__btn{
  width: 6rem;
  margin: auto;
}

.card__btn--home{
  width: 5rem;
}

.card-container{
  column-gap: 30px;
  margin: 1rem 1.25rem 2rem .8rem;
  grid-template-columns: variables.$grid-column-mobile;
  row-gap: 70px;
  padding-top: 2rem;
}
.container-product{
  margin-top: 2rem; 
}

.card-container--home{
  grid-template-columns: repeat(2,35vw);
  column-gap: 0;
  row-gap: 40px;
}


@media screen and(min-width:768px){
  .card-container{
    grid-template-columns: variables.$grid-column-tablet;
    column-gap: 45px; 
  }
}

@media screen and(min-width:1200px){
  .container-product{
    margin-top: 5rem;
  }
}

/* Contact */

.contact{
  margin-top: 4rem;
}

.contact__social{
  margin-top: 3rem;
  padding: 2rem 0;
}

.contact__title{
  margin-bottom: 1.5rem;
}

.contact_social-icon {
  justify-content: center;
}

.contact_wpp{
  display: none;
}

@media screen and(min-width:768px){
  .contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 3rem;
  }
  .contact__social{
    margin-top: 0;
  }
  .contact__title{
    margin-bottom: 2rem;
  }
  .contact_wpp{
    display: block;
  }
}




/* Footer */

.footer{
  flex-direction: column;
  align-items: center;
  padding: 1rem ;
}
.footer__brand, .footer__copy{
 padding: .3rem;
}


/* Hero Image */

.hero-image {
  height: 90vw;
  margin-top: 4.5rem;
  width: 100%;
} 


@media screen and(min-width:768px){
  .hero-image{
    height: 28vw;
  }
 
}

@media screen and(min-width:1200px){
  .hero-image{
    margin-top: 7rem;
  }
 
    
}


// Menu and header.


.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__home{
  display: none;
  margin-right:2rem;
}
.menu {
  font-size: 0.7rem;
  left: 0;
  position: fixed;
  padding: 1rem 1.5rem;
  top: -20rem;
  width: 300px;
  transition: top 0.3s;
  z-index:1;
}
.menu--active {
  top: 4rem;
}
.menu__link {
 margin: .7rem 0; 
 position: relative; 
}
.menu__link img {
  height: 10px;
}
.sub-menu__link {
  margin: 1rem 0.7rem 0;
}

.sub-menu--unactive {
  height: 0;
  overflow: hidden;
}
.sub-menu--active {
  height: 100%;
  overflow: visible;
}

@media screen and(min-width:1200px) {
  .container-header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .header{
    position: static;
    height: 70px;
  }
  .header__home{
    display: block;
  }
  .menu-btn{
    display: none;
  }
  .menu{
    position: static;
    width: 100%;
    padding: 0;
  }
  .menu__nav{
   display: flex;
   justify-content: space-around;
 
  }
  .menu__link img {
    display: none;
  }
  .menu__link{
    margin: 0;
    padding: 1rem 0;
    position: relative;
  
  }
  
  .sub-menu--unactive{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    height: auto;
    position: absolute;
    top: 30px;
    width: 165%;
    padding: .8rem 0;
  }
.menu__link:hover .sub-menu--unactive{
  display: block;
}


}


/* Service Section */

.service{
  margin-top: 7rem;
}
.service_delivery{
  margin: 1rem ;
  flex-direction: column;
}

.service__img{
  margin: 1rem ;
}
@media screen and(min-width:768px){
  .service_delivery{
    flex-direction: row;
  }
}
@media screen and(min-width:1000px){
  .service_delivery{
   justify-content: center;
  }
}


/* Whatsapp button */
.wpp-btn{
  bottom: 20px;
  position: fixed;
  right: 30px;
  z-index: 2;
}


//////////////////DaschBoard////////////////////


//Button

.button:hover{
  cursor: pointer;
}

.button--md{
  height: 40px;
  width: 120px;
  padding: 0 .5rem;
}

.button--min{
  height: auto;
  width: auto;
  padding: 5px 8px;
}

.button--sm{
  height: 30px;
  width: 70px;
}

.button-link{
  margin-top: 1rem;
  margin-left: -3rem;
  height: 40px;
  padding: 0 5px;
  width: 130px;
}


 //Body

.body-d{
  position: relative;
}


.drop-zone{
  height: 200px;
  width: 100%;
}

//Form
.content-form{
  max-width: 400px;
  margin: auto;
}

//inputs

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input{
  padding: .5rem ;
  margin: .7rem 0; 
}
.input-drag-dash{
display: none; 
}

.input-select{
  margin: 0;
}


//Header
 .header-d{
  padding: .5rem 1rem;
  width: 100%;
}

// Main

.cont-input{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cont-input--product{
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Menu

.menu-d__box{
  margin: 1rem;
}

 .menu-d__nav{
   left: -230px; 
   position: absolute; 
   padding-top: 1rem;
   top: 43px;
   bottom: -510px;
   transition: left 0.3s; 
   width: 12rem; 
   z-index: 3;
}

.menu-d__nav-active{
 left: 0; 
} 
 .menu-d__item{
  padding: .1rem;
} 

 
 .menu-d__sub-menu{
  padding-left: 1rem;
  display: none;
  width: 100%;
} 
.menu-d__sub-menu--active{
 display: block;

} 

 .menu-d__sub-item{
  padding: .5rem;
} 

//Login

.login{
  padding-top: 30px;
  max-width: 500px;
  min-width: 300px;
  height: auto;
  margin-left: 30px;
  margin-right: 30px;
}
.login__box-icon{
  position: absolute;
}

.login__create-user{
  font-size: .7rem;
  margin-top: 1rem;
  text-decoration: underline;
}
.login__container-input{
  height: 100px;
}
.login__eye{
  position: relative;
  left: 170px;
  top: 5px;
}
.login__form{
  margin: 50px;
  width: 80%;
}

.login__icon{
  position: relative;
  left: 6px;
  top: 10px;
}

.login__input{
  width: 100%;
  height: 10px;
  padding: 20px 10px 20px 40px;
}
.login__input:focus{
  outline: none;
}
.login__input--up{
  margin-bottom: 70px; 
}
.login__input--down{
  margin-bottom: 100px;
}

.login__msm{
  display: block;
  font-size: .7rem;
  margin-top: 1rem;
}

//Title

.cont-title-dash{
  text-align: center;
  margin-bottom: 2rem;
 
}

//Table

.cont-table{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.table{
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th{
  border: 1px solid variables.$grys-1;
  text-align: center;
  padding: .5rem 0;
}

.table th{
  background-color: variables.$blue-color;
  color: variables.$white-color;
}

.table tbody tr:nth-child(even){
  background-color: variables.$grys-4;
}

.table__cell-action{
  width: 200px;
}

.table__cell-item{
  width: 50px;
}

//Window Modal

.container-modal{
  width: 100%;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: 9;
}

.container-modal--active{
  opacity: 1;
  visibility: visible;
}

.title-cont-modal{
  padding: 1rem 1.5rem;
}
.Window-modal{
  width: 300px;
  height: 230px;
  opacity: 0;
  transition: opacity 0.8s;
}
.Window-modal--user{
  height: 340px;
  
}
.Window-modal--active{
  opacity: 1;
}

@media screen and(max-width:640px){
  .table thead{
    display:none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 1rem;
  }
  .table td{
    padding-left: 30%; 
    padding-right: .2rem;
    position: relative;
    text-align: right;
  }
  .table td::before{
    content: attr(data-label);
    font-size: 1.2rem;
    font-weight: 600;
    left: 0;
    margin-left: 2px;
    position: absolute;
    width: 50%;
    text-align: left;
  }

}
@media screen and(max-width:350px){
  .table__cell-action{
    width: 250px;
  }
}

@media screen and(min-width:500px){
  .cont-input--product{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:flex-start;
    gap: 20px;
  }

  
.button-link{
  margin-top: 0;
  margin-left: 0;
}
}
@media screen and(min-width:640px){

//Main
  .cont-title-dash{
    text-align: left;
    margin-left: -0.1rem;
  }

  .cont-input{
    display: flex;
    justify-content:flex-start;
    margin-left: -0.1rem;
    gap: 20px;
  }
 

}


@media screen and(min-width:1050px){

  //Button

  .btn-margin{
    margin-right: 6rem;
  }
  .content-d{
    display: grid;
    grid-template-columns: auto 1fr;
  }
  //Header
  .btn-dash{
    display: none;
  }

  //Menu
  .menu-d__item{
    width: 220px;
  }
  .menu-d__nav{
    height: 110vh;
    position: static; 
    padding-top: 1rem;
    
 }

 
}