@use "variables";
html {
  box-sizing: border-box;
  font-family: variables.$font-family;
  scroll-behavior: smooth;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  display: block; 
  font-size: inherit;
  text-decoration: none;
  color: variables.$first-font-color;
}

a,
h1,
h2,
h3,
h4,
li,
ul,
p,
span,button {
  margin: 0;
  padding: 0;
}

form,
input,
textarea,
label {
  font-family: inherit;
  font-size: inherit;
  display: block;
}
img{
  max-width: 100%;
}

li {
  list-style-type: none;
}

p a {
  display: inline;
}
