@use "variables";

//Hamburger button

.hamburger-btn{
  border: 0;
  outline: none;
}


//Card catalogue

.catalogue__card{
  color: variables.$white-color;
  font-weight: bold;
}
.catalogue__card-text{
  font-size: .7rem;
  letter-spacing: .2rem;
  color:variables.$first-font-color ;
  }
@media screen and(min-width:440px){
  .catalogue__card{
    font-size: 1rem;
    font-weight: 700;
  } 
  .catalogue__card-text{
    font-size: .8rem;
    margin-bottom: .5rem;
    }
}

@media screen and(min-width:1200px){
  .catalogue__small {
    font-size: variables.$title-small-desktop;
    font-weight: lighter;
   
  }
  .catalogue__text {
    font-size: variables.$title-big-desktop;
  }
  .catalogue__card-text{
    margin-bottom: 0
    }

    
}


//Contact

.contact__social{
  border-top: variables.$border-gray;
  border-bottom: variables.$border-gray;
}
.contact__title, .contact__social{
  font-weight: 600;
}
.contact__title, .contact__number, .contact_social-title{
  text-align: center;
}
.contact_social-icon{
  padding-top: .7rem;
  font-size: 2rem;
}
@media screen and(min-width:768px){
  .contact{
    border-top: variables.$border-gray;
  border-bottom: variables.$border-gray;
  }
  .contact__social{
  border: none;
  }
}




/* Footer */
.footer{
  font-size: .7rem;
  color: variables.$grys-1;
   
 }
 


//Menu and header

.header {
  background-color: variables.$white-color;
  box-shadow: variables.$box-shadow-1; 

}

.header__home{
  color:variables.$second-color;
  font-size: 1.2rem;
}
.header__home-a{
  color: inherit;
}

.menu {
  background-color: variables.$white-color;
  border-bottom-right-radius: 5px;
}

.logo  {
  text-align: center;
  
}
.logo a {
  font-size: 1.4rem;
  font-weight: 600;
  color:variables.$second-color;
  
}



@media screen and(min-width:440px){
  .logo a{
    font-size: 1.7rem;
  }
}

@media screen and(min-width:1200px) {
  
  .menu{
    background-color: variables.$first-color;
    border-bottom-right-radius: 0;
    color: variables.$white-color;
    box-shadow: variables.$box-shadow-1;   
  }
 
  .menu__link  a{
    color: inherit;
    font-size: .8rem;
    font-weight: 600;
  }
  .logo a{
    font-size: 2rem;
  }
  .sub-menu--unactive{
    background-color: variables.$first-color;  
  }
}

//New Products 

.products-new__title-small{
  color: variables.$second-font-color;
  font-weight: bold;
  font-size: variables.$title-small-mobile;
}
.products-new__title-big{
  color: variables.$first-font-color;
  font-size: variables.$title-big-mobile;
}
.card__name, .card__price{
  font-size: variables.$title-small-mobile;
  font-weight: 600;
  margin: .5rem 0;
}
.card__name{
  display: -webkit-box;
  max-height: 30px;
  min-height: 30px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.card__price{
  color: variables.$second-font-color;
}
.card__btn{
  background-color: variables.$second-font-color;
  border-radius: 3%;
  cursor: pointer;
  color: variables.$white-color;
  font-size: .8rem;
  padding: .5rem 1rem ; 
}

.card__btn--home{
  padding: .3rem; 
  font-size: .7rem;
}

.products-new__title-small,.products-new__title-big,.card__price,.card__btn,.card__name {
  text-align: center;
}

@media screen and(min-width:1200px){
  .products-new__title-small{
    font-size: variables.$title-small-desktop;
  }
  .products-new__title-big{
    font-size: variables.$title-big-desktop;
  }
}


// Title catalogue

.catalogue__line{
  font-size: 1px;
  color: variables.$first-font-color;
 background-color:variables.$first-font-color;
}

.catalogue__small {
  font-size: variables.$title-small-mobile;
  font-weight: bold;
}
 .catalogue__title {
  color: variables.$first-font-color;
  
}
.catalogue__text {
  font-size: variables.$title-big-mobile;
}

/* Whatsapp button */
.wpp-btn{
  border-radius: 50px;
  background-color: variables.$green-wpp;
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  color:  variables.$white-color;
  font-size: 2rem;
  height: 3.4rem;
  line-height: 3.4rem;
  text-align: center;
  width: 3.4rem;
}

.wpp-btn:hover{
  background-color:variables.$white-color;
  color:variables.$green-wpp ;
}
 


//////////////DaschBoard/////////////////////////


//Button

.button{
  color: white;
  border: none;
}
.button--blue{
  background: variables.$blue-color;
}

.button--blue:active {
  box-shadow: 0 0 0 3px variables.$box-shadow-blue;
}
.button--blue:hover{
  background: variables.$blue-color-2;
}

.button-link{
 color: white;
 font-weight: 600;
}
.button--md{
  border-radius: 8px;
  font-weight: 600;
}

.button--min{
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
}

.button--red{
  background: variables.$red-color;
}
.button--red:active {
  box-shadow: 0 0 0 3px variables.$box-shadow-red;
}
.button--red:hover{
  background: variables.$red-color-2;
}

.button--sm{
  border-radius: 10px;
}

 




//Form


.name-input-dash{
  font-weight:600;
  color: variables.$black-1; 
}

//Inputs

.input{
  border: none;
  border: 1px solid variables.$black-2;
  border-radius: 10px;
}

.input:focus{
outline: none;
}

.input--shadow:focus{
  box-shadow: 0 0 5px variables.$box-shadow-3;
}


.drop-zone{
  border: 2px dashed variables.$black-2;
  border-radius: 5px;
}


.title-dash{
  font-size: 1.7rem;
  font-weight: 600;
  color: variables.$black-1;
}


//Header
.header-d{
    background-color: variables.$black-1;
    color: variables.$grys-2;
}
   
//Header > button
   
.dash-btn:hover{
   color: variables.$blue-color-3;
}

//Login

.login{
  border-radius: 30px;
  background: variables.$white-color;
  border: 2px solid rgb(216, 216, 216);
}

.login__icon{
  font-size: 1.5em;
}
.login__eye{
  cursor: pointer;
  font-size: 1em;
}
.login__input{
  color: variables.$first-font-color;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid black;
}


//Menu


.menu-d__sub-menu{
     background-color: variables.$black-2;
}

.menu-d__sub-item a{
    color: variables.$white-color;
}

.menu-d__item:hover .menu-d__link, .menu-d__item:hover .menu-d__icon, .menu-d__sub-item:hover a{
  color:variables.$blue-color-3;
}

//Window Modal

.container-modal{
  background-color: variables.$black-3; 
}

.Window-modal{
  background-color: variables.$white-color;
  border-radius: 5px;
}
.title-cont-modal{
  border-bottom: 1px solid variables.$grys-1;
}


@media screen and (min-width:640px){

  //Form

.title-dash{
  font-size: 2rem;

}
  
}

  