@use "variables";

.a-i-center{
  align-items: center;
}

.bck-gray-3{
  background-color: variables.$grys-3;
}
.bck-black-1{
  background-color: variables.$black-1;
}
.bck-red{
  background-color: red;
}
.bck-white{
  background-color: variables.$white-color;
}

.border-1{
  border: solid 1px variables.$black-1;
}
.border-gray-1{
  border: solid 1px variables.$grys-1;
}

.c-pointer{
  cursor: pointer;
}
.c-black{
  color: variables.$black;
}
.c-gray-2{
color: variables.$grys-2;
}

.c-white{
color: variables.$white-color;
}
.c-red{
color: red;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex{
  display: flex;
}
.d-grid{
  display: grid;
}
.font-0-8{
  font-size: .8rem;
}
.font-1-5{
  font-size: 1.5rem;
}
.f-d-column{
  flex-direction: column;
}

.f-size-0-9{
  font-size: .9rem;
}

.font-w-5{
  font-weight: 500;
 
}

.h-vw-100{
  height: 100vh;
}

.heigh-40{
  height: 2.5rem;
}

.j-c-center{
  justify-content: center;
}
.j-c-between{
  justify-content: space-between;
}
.j-c-end{
  justify-content:flex-end;
}

.m-left-2{
  margin-left: 2rem;
}
.m-rigth-0-5{
  margin-right: .5rem;
}
.m-rigth-1{
  margin-right: 1rem;
}
.m-rigth-1-5{
  margin-right: 1.5rem;
}

.m-top-1{
  margin-top: 1rem;
}
.m-top-2{
  margin-top: 2rem;
}
.m-top-3{
  margin-top: 3rem;
}
.m-top-4{
  margin-top: 4rem;
}
.m-bot-4{
  margin-bottom: 4rem;
}
.m-x-2{
  margin-left: 2rem;
  margin-right: 2rem;
}
.p-relative{
  position: relative;
}

.padding-1{
  padding: .3rem;
}
.text-a-center{
  text-align: center;
}
.text-a-right{
  text-align: right;
}

.width-180{
  width: 11.25rem;
}









