//Font family
$font-family: sans-serif;


//Font size.

$title-small-mobile: 0.75rem;
$title-small-desktop: 1.2rem;
$title-big-mobile: 1.8rem;
$title-big-desktop: 2.2rem;


// Color IU
$first-color: rgb(92,225,230);
$second-color:rgb(113, 82, 173);
$white-color: rgb(255, 255, 255);
$green-wpp:rgb(36,203,67);
$blue-color:rgb(6, 134, 194);
$blue-color-2:rgb(0,115,170);
$blue-color-3:rgb(114, 174, 230);
$red-color:rgb(255,0,0);
$red-color-2:rgb(207, 7, 7);

// Scale gray to balck.
$grys-1: rgb(163, 163, 163);
$grys-2: rgb(190, 184, 184);
$grys-3: rgb(240,240,241);
$grys-4: rgb(204, 200, 200);
$black: rgb(0, 0, 0);
$black-1:rgb(29, 35, 39);
$black-2:rgb(44, 51, 56);
$black-3:rgba(0, 0, 0, 0.5);

//Color font.
$first-font-color: rgb(64, 64, 64);
$second-font-color: rgb(208, 15, 64);
//Box Sahdow
$box-shadow-1:0 0 10px rgba(0, 0, 0, 0.3);
$box-shadow-2:rgba(92,225,230,0.1);
$box-shadow-3: rgba(44, 51, 56, 0.9);
$box-shadow-blue: rgba(7, 142, 204,0.3);
$box-shadow-red: rgba(250, 0, 0, 0.3);

//grid.s

$grid-column-mobile:repeat(2,40vw);
$grid-row-mobile:repeat(4,40vw);
$grid-column-tablet:repeat(4,20vw);
$grid-row-tablet:repeat(2,25vw);

//Gray Border 

$border-gray:.8px solid rgb(190, 184, 184);